$breakpoint-max: 768px;
$breakpoint-large: 1920px;

.what_we_do{
    padding: 48px;

    h2{
        font: normal 500 36px/normal Poppins;
        color: #000;
        text-align: start;
    }

    .what_we_do_cards{

        section{
            padding-top: 40px;

            span{
                display: inline-block;
                height: 343px;
                width: 100%;
                border-radius: 15px;
            }

            &.modular_kitchen span{
                background: no-repeat center/100% url("../assets/svg/modular_kitchen.svg");       
            }

            &.bedroom span{
                    background: no-repeat center/100% url("../assets/svg/bedroom.svg");
            }

            &.living_room span{
                background: no-repeat center/100% url("../assets/svg/living_room.svg");
            }

            &.home_office span{
                background: no-repeat center/100% url("../assets/svg/home_office.svg");
            }

            p{
                font: normal 600 24px/normal Poppins;
                color: #4B2A63;
                text-align: center;
                padding-top: 12px;
            }
        }
    }

    .what_we_do_paragraph{
        font: normal 400 18px/normal Poppins;
        color: #000;
        text-align: center;
        display: none;
    }
    
}

@media only screen and (min-width: $breakpoint-max){
    .what_we_do{
        padding: 48px;
    
        h2{
            text-align: center;
        }
    
        .what_we_do_cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: fit-content;

            section{
                width: 100%;
                max-width: 343px;
                
                span{
                    max-width: 343px;
                }

                p{

                }
            }
        }
    } 
}

@media only screen and (min-width: $breakpoint-large){
    .what_we_do{
    
        h2{
           
        }
    
        .what_we_do_cards{
            justify-content: center;

            section{
                
                
                span{
                  max-width: 286px;
                }

                p{

                }
            }
        }

        .what_we_do_paragraph{
            display: block;
            max-width: 1041px;
            margin: 40px auto;
        }
    } 
}

